@import '../../../style/_settings';
.book-item-wrapper {
  position: relative;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0px 2px 18px rgba(0,0,0,0.08);
  background: #fff;

  &:before {
    content: attr(data-index)'º';
    font-size: 14px;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $secondary-font;
  }

  &:first-child {
    border: 1px solid $primary-color;
    .item-final-price {
      background: $primary-color;
      color: #fff;
    }
  }
}

.book-item {
  padding: 0 10px 0 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.book-item__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;

  &:last-child {
    align-items: flex-end;
  }
}

.item-brand {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.item-info {
  font-size: 12px;
}

.item-final-price {
  padding: 16px 10px;
  background: $gray2;
  height: 100%;
  margin: 8px 0;
  border-radius: 4px;
  max-width: 90px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.book-options {
  position: absolute;
  border: 0;
  height: 26px;
  width: 10px;
  right: 10px;
  top: 50%;
  margin-top: -12px;
  font-size: 18px;
  color: $gray5;
  display: flex;
  flex-direction: column;
  line-height: 8px;
  background: none;
}
