*,
*::before,
*::after {
  box-sizing: border-box;
}

.chat {
  padding: 0;
  margin: 0;
}

.chat__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #aae282;
  padding: 0 20px;
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contact-details__picture {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #ccc;
  margin-right: 40px;
  overflow: hidden;
}

.contact-details__name {
  color: #ffffff;
  font-family: arial, sans-serif;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 15px;
}

.messages__box {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  background-color: #3498db;
  border-radius: 5px;
  font-family: arial, sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}


.messages__box.me {
  background-color: #3498db;
  align-self: flex-end;
}

.messages__box.them {
  background-color: #808080;
}

.messages__plain-text {
  padding: 5px 0;
}

.messages__timestamp {
  font-family: arial, sans-serif;
  font-size: .60rem;
  align-self: flex-end;
}


.chat-message {
  padding: 30px;
  
  textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    display: flex;
  }

  
  button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
    
    &:hover {
      color: darken(#94C2ED, 7%);
    }
  }
}