@import '_settings';
@import '_reset';

html, body {
  height: 100%;
}

body{
  font-smoothing: antialiased;
  font-smoothing: grayscale;
  font-family: $primary-font;
  font-size: $font-size;
  line-height: 1.4;
  color: $default-color;
  float: left;
  width: 100%;
  background: $gray1;
  padding: 0 $gutter;
}

strong {
  font-family: $secondary-font;
}

.logo {
  width: 140px;
  img {
    width: 100%;
    max-width: 180px;
    height: 50px;
    transform: translateX(-6px);
  }
}

.form-group {
  margin-bottom: 20px;
  display: block;

  > span {
    font-family: $secondary-font;
    margin-bottom: 8px;
    display: inline-block;
  }
}

.form-control {
  appearance: textfield;
  padding: 0 10px;
  height: 44px;
  background: #fff;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $gray2;
  transition: box-shadow .2s linear;
  font-size: 16px;
  font-family: $primary-font;
  line-height: 44px;

  &:focus {
    box-shadow: inset 0 1px 4px rgba(#333, 0.08);
    border-color: $gray3;
  }
}

.form-control-range {
  display: block;
  width: 100%;
}

.parent-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button {
  width: 100%;
  height: 44px;
  padding: 10px 40px;
  border-radius: 40px;
  background: $primary-color;
  color: #fff;
  border: none;
  font-family: $secondary-font;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.05);
  font-size: $font-size;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--secondary {
    background: $gray5;
  }

  &:hover {
    text-decoration: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.header {
  background: #fff;
  margin-left: - $gutter;
  margin-right: - $gutter;
  margin-bottom: 20px;
  padding: 0 20px;
  box-shadow: 2px 0 6px 0 rgba(0,0,0,0.1);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    path {
      fill: $default-color;
    }
  }
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}


.card-item-wrapper {
  position: relative;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0px 2px 18px rgba(0,0,0,0.08);
  background: #fff;

  &:before {
    font-size: 14px;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $secondary-font;
  }

  &:first-child {
    border: 1px solid $primary-color;
    .item-final-price {
      background: $primary-color;
      color: #fff;
    }
  }
}

.card-item {
  padding: 0 10px 0 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}


.card-item__smallColumn {
  max-width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;

  &:last-child {
    align-items: flex-end;
  }
}

.card-item__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;

  &:last-child {
    align-items: flex-end;
  }
}

.card-item__column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;

  &:last-child {
    align-items: flex-start;
  }
}

.item-brand {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.item-image {
  max-width: 128px;
  margin: 10px;
}

.item-info {
  font-size: 12px;
}

.item-final-price {
  padding: 16px 10px;
  background: $gray2;
  height: 100%;
  margin: 8px 0;
  border-radius: 4px;
  max-width: 90px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.card-options {
  position: absolute;
  border: 0;
  height: 26px;
  width: 10px;
  right: 10px;
  top: 50%;
  margin-top: -12px;
  font-size: 18px;
  color: $gray5;
  display: flex;
  flex-direction: column;
  line-height: 8px;
  background: none;
}

.icon-message,
.icon-logout {
  height: 28px;
}

.header-column-icon {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
